{:deps {:aliases [:dev]}
 :dev-http {8083 {:root "resources/public"
                  :push-state/index "index.html"}}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn demo.dev/main}}
   :dev {:output-dir "resources/public/js"}
   :release {:output-dir "resources/public/js"
             :init-fn demo.prod/main}
   :compiler-options {:externs ["datascript/externs.js"]}}}}
