{:deps {:aliases [:dev]}
 :dev-http {8083 {:root "resources/public"
                  :push-state/index "index.html"}}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn state-datascript.dev/main}}
   :dev {:output-dir "resources/public/js"}
   :compiler-options {:externs ["datascript/externs.js"]}}}}
