{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  http-kit/http-kit {:mvn/version "2.7.0"}
  missionary/missionary {:mvn/version "b.36"}
  com.cognitect/transit-clj {:mvn/version "1.0.333"}}

 :aliases
 {:dev
  {:extra-paths ["test" "examples"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}

  :examples
  {:extra-paths ["examples"]}}}
